@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
    .default .footer { display: none; }
}
@font-face {
    font-family: 'PatuaOneRegular';
    src: url('font/PatuaOne-Regular-webfont.eot');
    src: url('font/PatuaOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/PatuaOne-Regular-webfont.woff') format('woff'),
         url('font/PatuaOne-Regular-webfont.ttf') format('truetype'),
         url('font/PatuaOne-Regular-webfont.svg#PatuaOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
    background: #fff;
    color: #6a6a6a;
    font-family: PatuaOneRegular, Tahoma,Verdana,sans-serif;
    font-size: 1.5em;
}
a, a:link { color: orange !important; text-decoration: none; }
h1,h2 { text-transform: uppercase; color: #60ee60; }
h1 { font-size: 2em; }
code { 
	font-weight: bold; 
	color: #0a0a0a;
	padding: 4px;
}
p { margin: 10px 0; line-height: 1.5; font-size: 1.5em;}
li { font-size: 1.5em; margin-bottom: 15px; }

h1.title { font-size: 4em; }

.syntaxhighlighter { font-size: 1.5em !important; }
